* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  /* opacity: 0.7; */
  background-color: black;
  z-index: 99;
  text-align: center;
}

.load {
  color: white;
  font-family: "Playfair Display", serif;
  margin-top: 50px;
  color: white;
}

.btarrow {
  padding: 0;
  border: none;
  background: none;
}

.arrow {
  color: #323edd;
  visibility: hidden;
  position: fixed;
  bottom: 30px;
  right: 0px;
}

#first {
  /* font-size: 16px; */
  padding: 0.5px;
}

.navbar {
  background-color: white;
}

.navbar-nav .nav-item {
  margin: 0 20px;
}

#bt1 {
  background-color: #f5abc9;
  color: black;
  border-radius: 30px;
}

#second {
  width: 100%;
  min-height: 130vh;
  background-image: url(images/main.jfif);
  background-size: cover;
  background-position: center;
  position: relative;
}

.content h1 {
  margin-bottom: 20px;
  color: white;
  font-family: "Playfair Display", serif;
}

.content {
  position: absolute;
  width: 100%;
  top: 75%;
  transform: translateY(-50%);
  text-align: center;
}

#btn1 {
  width: 100px;
  border: 0.1rem solid #fff;
  background-color: #29bb89;
  margin-right: 2rem;
  padding: 0.5rem;
}

#btn1:hover {
  background-color: black;
  color: white;
  transition: 1s;
}

#btn2 {
  width: 100px;
  border-radius: 25px;
  color: white;
  background-image: linear-gradient(#ff0099, #493240);
}

.exp {
  position: absolute !important;
  width: 100%;
  top: 60% !important;
  color: white;
  font-family: "Merienda", cursive;
  width: 100%;
  text-align: center;
}

#group {
  margin-top: 20px;
}

.group {
  width: 100%;
  position: relative;
  margin-left: 0px;
}

.desc > h1 {
  position: relative;
  top: 90px;
  text-align: center;
}

.desc > p {
  font-family: "Libre Baskerville", serif;
  width: 100%;
  position: relative;
  top: 130px;
  text-align: center;
}

#fixed {
  margin-top: 140px;
  position: relative;
  top: 0px;
  background-image: url(images/mountain.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  font-size: 35px;
}

.fixed-inner {
  padding-top: 10%;
  padding-bottom: 10%;
}

#aero {
  position: relative;
  top: 0px;
  margin-top: 60px;
  width: 100px;
}

#third {
  margin-top: 30px;
  margin-right: 30px;
  position: relative;
  top: 0px;
  padding: 30px;
}

.pd {
  text-align: center;
  position: relative;
  font-family: "Festive", cursive;
}

#mal {
  width: 100%;
  height: 176px;
}

#mal:hover {
  -webkit-transform: scale(1.25);
  transition: 0.5s;
}

.card1 {
  width: 1000px;
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
}

.card-title1 {
  font-size: 25px;
  text-align: center;
  color: white;
}

.card-body1 {
  background-color: #ee8e6b;
  background-image: linear-gradient(315deg, #ee8e6b 0%, #ef6da0 74%);
}

#fifth {
  position: relative;
  top: 0px;
  margin-top: 50px;
}

.rev {
  text-align: center;
}

.logo {
  width: 100px;
}

.p1 {
  color: white;
  text-align: center;
}

.p2 {
  color: yellow;
  text-align: center;
  margin-top: 18rem;
  font-family: "Dancing Script", cursive;
}

#boat {
  position: relative;
  width: 80px;
  top: 0px;
  left: 0px;
  -webkit-animation: boatMove 6s linear infinite;
  width: 90px;
}

@-webkit-keyframes boatMove {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(570px);
  }
}

.addr {
  width: 40px;
  position: absolute;
  left: 150px;
  top: 140px;
}

.ad {
  position: absolute;
  left: 250px;
  top: 140px;
  color: white;
}

.phone {
  width: 40px;
  position: absolute;
  left: 150px;
  top: 220px;
}

.ph {
  position: absolute;
  left: 250px;
  top: 220px;
  color: white;
}

.card2 {
  margin-top: 15px;
  margin-left: 20px !important;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card2:hover {
  box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.2);
}

.card-title2 {
  text-align: center;
}

.card-footer2 {
  text-align: center;
}

.ps {
  margin-bottom: 40px;
}

.input {
  border-color: #9ede73;
  transition: 0.5s;
}

#last {
  position: relative;
  top: 0px;
  margin-top: 60px;
  margin-right: 30px;
}

.fn {
  padding-left: 5px;
  margin-bottom: 14px;
}

.cty {
  padding-left: 5px;
  margin-bottom: 14px;
}

.email {
  padding-left: 5px;
  margin-bottom: 14px;
}

.phn {
  margin-bottom: 14px;
  padding-left: 5px;
}

.msg {
  padding-left: 5px;
  margin-bottom: 20px;
}

.help {
  background-color: #96baff;
  padding: 15px;
  width: 100%;
  margin-left: 30px;
  margin-top: 0px;
  margin-right: 20px;
}

.git {
  margin-right: 10px;
  color: black !important;
}

.insta {
  margin-right: 10px;
  color: black !important;
}

.linked {
  margin-right: 10px;
  color: black !important;
}

#copyright {
  position: relative;
  top: 0px;
  margin-top: 50px;
  text-align: center;
  padding-top: 10px;
}

.gall {
  text-align: center;
  color: white;
  font-family: "Noto Serif", serif;
  position: relative;
  top: 0px;
  margin-top: 80px;
}

.rowmarg {
  padding-left: 35px;
}

#sixth {
  background-color: black;
  border-radius: 20px;
  width: 100%;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  margin-right: 10px;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  border-radius: 15px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 96.7%;
  height: 91.5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

.gallery {
  margin-top: 50px !important;
}

.mobileShow {
  display: none;
}

.mobileShow > h1 {
  text-align: center;
}

@media only screen and (max-device-width: 1000px) {
  .gall {
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  .hvrbox img {
    width: 100%;
  }
  .card1 {
    width: 100%;
  }
  #sixth {
    padding-right: 25px;
  }
  .help {
    margin-top: 50px;
    width: 280px;
  }

  #aero {
    display: block;
  }

  .hvrbox .hvrbox-layer_top {
    width: 100%;
  }

  #loading-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
}
